<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="ui header">
    Welcome to Feedback Form
  </h1>
  <div class="ui raised segment">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">
      <div class="field">
        <label for="nameInput">Name</label>
        <input type="text" id="nameInput" placeholder="Name" name="name" ngModel> <br> <br>
        <label for="emailInput">Email</label>
        <input type="email" id="emailInput" placeholder="Email" name="email" ngModel><br> <br>
        <label for="ageInput">Age</label>
        <input type="text" id="ageInput" placeholder="Age" name="age" ngModel><br> <br>
        <label for="commentInput">Comment</label>
        <input type="text area" id="commentInput" placeholder="comment"  name="comment" ngModel><br> <br>
        <label for="cnumberInput">Contact Number</label>
        <input type="text" id="cnumberInput" placeholder="Number" name="number" ngModel><br> <br>
      </div><br> <br>
      <button type="submit" class="ui button">Submit</button>
    </form>
  </div>