/* You can add global styles to this file, and also import other style files 
import './app/vendor/semantic.min.css';
*/

body{
    color:rgb(23, 226, 23);
    background: rgb(150, 50, 50);
}
h1{
    color: burlywood;
}